html {
	background: #000000;
	color:#00ff00;
}
body {
	background: #000000!important;
	color:#00ff00!important;
}
h4 {
	display: inline;
}

.table{
	background:#000000!important;
	color:#FFFFFF;
	font-weight:normal!important;
}

.riga {
	font-weight:bold;
	background: #000000;
	color:#00ff00;
}
.rigaTX {
	font-weight:bold!important;
	background: #D80303!important;
	color:#FFFFFF!important;
	font-size:18px;
}

.panel-heading {
	font-weight:bold!important;
	background: #000000!important;
	color:#FFFFFF!important;
	text-align:center!important;
	font-size:18px!important;
}



.panel-info {
	text-align:center;
	background: #000000;
	color:#00ff00;
}
.odd {
	background: #000000!important;
	color:#00ff00!important;
}

.table-responsive {
	background: #000000!important;
	color:#c0c0c0!important;
}

.dataTables_length{
	color:#c0c0c0!important;
}


.dataTables_wrapper {
	color:#c0c0c0!important;
}

.dataTables_info {
	color:#c0c0c0!important;
}

.odd, .even {
	background: #000000!important;
	color:#00ff00!important;
}

.dataTables_filter{
	color:#c0c0c0!important;
}
label {
	font-weight:normal!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	color:#c0c0c0!important;
}

.page-header {
	background: #000000!important;
	color:#00ff00!important;
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: none!important;
}
.LogoDiv {
	position:absolute;
	top:10px;
	right:10px;
	float:right;
	vertical-align:middle;
}
.LogoImg {
	width:170px;
	border-radius:10px;
	box-shadow:2px 2px 2px #808080;
	padding:1px;
	background:#FFFFFF;
	border:1px solid #808080;
	/*float:right;*/
	margin:10px;
}
/*border="0" hspace="10" vspace="10" align="absmiddle"></div>*/
.H1 {
	display: inline;
	font-size:16px;
	font-weight:bold;
	padding: 10px;
}
.H1b {
	display: inline;
	font-size:12px;
	font-weight:normal;
	padding: 10px;
}

.DebugRed{
	background: #000000;
	color:red;
	font-family: "Courier New", monospace;
	white-space: pre;
}

.DebugPink{ /* 2 */
	background: #000000;
	color:pink;
	font-family: "Courier New", monospace;
	white-space: pre;
}
.DebugOrange{ /* 3 */
	background: #000000;
	color:orange;
	font-family: "Courier New", monospace;
	white-space: pre;
}
.DebugDeep{ /* 4 */
	background: #000000;
	color:white;
	font-family: "Courier New", monospace;
	white-space: pre;
}


#myProgress {
  width: 100%;
  background-color: black;
}

#myBar {
  width: 1%;
  height: 5px;
  background-color: green;
}

#txline {
	height: 5px;
}